body{
    background-image: url(../IMG/Cyberpunk.jpeg);
}




.narbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
/* 
.logo{
    width: 10px;
    height: 10px;
} */

li{
    color: white;
}